body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.color {
  color: black;
  border: 1px solid;
  background-color: white;
  width: auto;
  text-align: center;
  margin-bottom: 1em;
  padding: .6em;
  display: flex;
  align-items: center;
}

.color h2 {
  margin: 0;
}
.color i {
  margin-left: .5em;
  font-size: 20px;
  cursor: pointer;
}

#change {
  background-color: white;
  padding: .8em;
  font-size: 1em;
  width: 250px;
  font-weight: bold;
  border: 1px solid;
  border-radius: 50px;
  cursor: pointer;
}

.alert-copy {
  display: none;
  position: absolute;
  width: 250px;
  height: 50px;
  color: white;
  font-weight: bold;
  background-color: green;
  bottom: 22px;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  animation: alert .5s forwards ease-in-out;
}

@keyframes alert {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.alert-copy.active {
  display: block;
}